<a href="/login"></a>

<div class="container text-center my-5">
        <h1>Discord Login</h1>
        <p>Sign in with your Discord account to access manage your servers.</p>
        <a href="https://discord.com/api/oauth2/authorize?client_id=967637987259207740&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2F&response_type=code&scope=identify"><button class="login-button btn btn-outline-info">Sign with Discord</button></a>
    </div>